.mainbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin: 50px;
}

.renderBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fetchButton{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    background-color: red;
    /* visibility: hidden; */
}
.fetchButton:hover{
    background-color: #990000;
}